{% extends 'base.html' %} 

{% block content %}
<style>
</style>

<div class="create_product" style="background-image:url(https://cdn.visiteliti.com/article/2021-06/24/hihzEc6OEhQhDbao9DHi_1624529212.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <section class="vh-100" style="backdrop-filter: blur(20px);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="padding: 10px;">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: whitesmoke;">
                        <div class="card-body p-5 text-center">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <h1 class="mb-5" style="font-weight: bold; padding: 0px">Add New Item</h1>
                                <div class="form-outline mb-4">
                                    <input type="text" name="name" placeholder="Item Name" class="form-control" >
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="number" name="amount" placeholder="Amount" class="form-control" min="1">
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" name="category" placeholder="Category" class="form-control">
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" name="description" placeholder="Description" class="form-control" style="height: 100px;">
                                </div>
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add Item" style="width: 200px; background-color: #708951;"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}